[include]
  path = ~/.gitconfig.local

[pull]
  rebase = true

[core]
  pager = delta --dark

[interactive]
  diffFilter = delta --color-only

[alias]
  lg = log --oneline --graph --decorate --all
  s = status -sb
  a = add -p
  cm = commit -m
  co = checkout
  br = branch
  pl = pull
  ps = push

[safe]
  directory = *

[coulumn]
  ui = auto

[branch]
  sort = committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram

